.card__container {
    /* display: flex; */
    width: 180px;
    height: 250px;
    background-color: #FFF;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 1px 10px 1px gray;
    margin-left: 5px;
    margin-top: 5px;
}

.card__container > p {
    margin-top: 5px;
    text-align: center;
    opacity: .8;
    color: rgb(18, 177, 235);
    font-weight: bold;
}

.card__footer {
    margin-top: 50px;
    opacity: .6;
    font-size: small;
    text-align: center;
    font-weight: bold;
}

.card__footer p{
    color: rgb(89, 89, 112);
}

.card__footer button{
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgb(157, 183, 191);
    color: rgb(9, 35, 232);
    font-weight: bold;
    height: 35px;
    width: 100px;
}

.card__imgcontainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(181, 181, 236);
    transform: translate(64px, 20px);
}

.card__imgcontainer img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}